<%- include('../partials/header.ejs', {name: myBook.title + " by " + myBook.author}) %>
    <h1>Title: <%= myBook.title %></h1>
    <h2>Author: <%= myBook.author %></h2>
    <h2>Price: $<%= myBook.price %></h2>
        <a href="/books/<%= myBook._id %>/edit">Edit this book</a>
        <a href="/books/<%= myBook._id %>/delete">Delete this book</a>
<%- include('../partials/footer.ejs') %>